body {
    margin: 0;
    padding: 0;
    background:url("../images/petri.svg");
    background-repeat:repeat;
    background-attachment: fixed;
    background-size: 33% 50%;
}

$umich-blue: rgb(0, 39, 76);
$umich-light-blue : rgb(20, 60, 100);
$umich-maize : rgb(255, 203, 5);
$umich-maize-trans : rgba(255, 203, 5, .7);
$header-grad-1 : 10%;
$header-grad-2 : 20%;
$header-height : 80px;
$content-max-width : 1000px;
$content-margin : 10%;

.site-header {
    overflow: hidden;
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background: linear-gradient(to top, 
        rgba(0,0,0,0) $header-grad-1, $umich-blue $header-grad-2);
    font-family : Verdana;    
}

.site-header-wrapper {
    max-width:1000px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    height: $header-height;
}

#site-title {
    float: left;
    font-size: 32px;
    color: $umich-maize;
    text-decoration: none;
    padding: 15px;
    text-shadow: 1px 1px 2px black;
    text-decoration: underline;
}


.site-nav ul {
    margin: 0;  
    padding: 0;
    float: right;
}

.site-nav li {
    list-style: none;  
    float: right;
    text-align: center;
}

.site-nav a {
    text-decoration: none;
    text-align: center;
    color: $umich-maize;
    font-size:18px;
    display: block;  
    padding: 0 20px;  
    text-align: center;
    line-height: $header-height;
    text-shadow: 1px 1px black;
}  

.site-nav a:hover {
  background: linear-gradient(to top, 
        rgba(0,0,0,0) $header-grad-1, $umich-light-blue $header-grad-2);
        
    text-shadow: 1px 1px #333333;
}

main {
}

.content-wrapper {
    padding:10px;
}

.post {
    font-family : helvetica, arial;
    max-width:$content-max-width;
    margin: 0 auto;
    background-color: $umich-maize-trans;
    border-radius: 12px;
}

.post-header {
    overflow: auto;
    padding:20px;
}

#andrew-img {
    float:right;
    max-width: 100%;
    height: auto;
    width: 22%;
    margin-right:$content-margin;   
    margin-top: 25px;
}

.post-title {
    margin-top: 10%;
    font-size: 30px;
}
.post-header-text {
    font-size: 22px;
}

.post-title, .post-header-text {
    margin-left: $content-margin;
}

.post a {
    color : blue;
}

.post hr {
    border-top: 4px dotted $umich-blue;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    width:40%;
}

.post-content {
    margin: 0 $content-margin;
    padding: 0 0 30px 0;
}

.post-content p {
    font-size: 18px;
}

.other-contacts {
    text-align : center;
    display: block;
}

.site-footer {
    overflow: hidden;
    max-width:$content-max-width;
    margin: 0 auto;
}

.site-footer p {
    float:right;
    margin: 20px $content-margin;
}